// VARIABLES
@use 'vars';

// ESTILOS

#inicio_container {
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    grid-template-areas:
    "header header header"
    "imain imain imain"
    "voldemort voldemort voldemort"
    "footer footer footer";
}



#inicio_main {
    margin: 10rem 5rem 5rem 5rem;
    grid-area: imain;
}

#inicioh2_container {
    margin-left: 15rem;
}

#iniciotext_container {
    text-align: justify;
    margin-top: 8rem;
    margin-left: 10rem;
}

#imgHarry {
    width: 35rem;
    border: solid 0.2rem #567189;
}

#imgHarry_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
}



#voldemort_section {
    margin: 10rem 5rem 15rem 5rem;
    grid-area: voldemort;
}

#voldemorttext_article {
    text-align: justify;
    margin-top: 5rem;
}

#voldemorttext_article_div {
    padding-left: 10rem;
}

#imgVoldemort {
    width: 35rem;
    border: solid 0.2rem #567189;
}

#imgVoldemort_article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
}



@media (max-width: 1200px){
    #inicio_main {
        margin: 5rem 5rem 5rem 5rem;
    }
    #iniciomain_container {
        width: 100%;
        padding: 0rem;
    }
    #iniciomain_container {
        article{
            width: 100%;
            padding: 0rem;
    }
    }
    #inicioh2_container {
        display: flex;
        justify-content: center;
        margin-left: 0rem;
    }
    #iniciotext_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-left: 0rem;
    }
    #imgHarry_div {
        margin-top: 5rem;
    }
    #voldemort_section {
        margin: 5rem 5rem 5rem 5rem;
    }
    #voldemorttext_article_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-left: 0rem;
    }
    #imgVoldemort_article {
        margin-top: 5rem;
    }
}