// ENCABEZADOS
$h1-fontfamily: 'Aboreto', cursive;
$h1-fontsize: 7rem;

$h2-fontfamily: 'Sofia Sans', sans-serif;
$h2-fontsize: 3.5rem;
$h2-decoration: underline 0.3rem;

$h3-fontfamily: 'Sofia Sans', sans-serif;
$h3-fontsize: 3rem;
$h3-decoration: underline 0.1rem;

// TEXTO
$p-fontfamily: 'Lato', sans-serif;
$p-fontsize: 2rem;

$b-fontfamily: 'Lato', sans-serif;
$b-fontsize: 2rem;

// LISTAS DESORDENADAS
$ulli-fontfamily: 'Lato', sans-serif;
$ulli-fontsize: 2rem;

// ENLACES
$a-decoration: none;
$link-fontfamily: 'Sofia Sans', sans-serif;