// VARIABLES
@use 'vars';

// ESTILOS

.produ_container {
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    grid-template-areas: 
    "header header header"
    "pmain pmain pmain"
    "footer footer footer";
}



.produ_main {
    margin: 10rem 5rem 5rem 5rem;
    grid-area: pmain;
}

.detrash2_container {
    display: flex;
    justify-content: center;
}

.videoiframes_container {
    h3 {
        margin: 3rem 0rem 1rem 0rem;
    };
    padding: 0rem 10rem 0rem 10rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.videoiframe_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoiframe {
    border: solid 0.2rem #567189;
}

.detrastext_container {
    text-align: justify;
    padding: 5rem 12rem 5rem 12rem;
}

.detrastextLeer_container {
    display: none;
}

// MUSICA

.music_section {
    margin-top: 10rem;
}

.musich2_container {
    display: flex;
    justify-content: center;
}

.musictext_container {
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
}

.musiciframes_container {
    h3 {
        margin: 3rem 0rem 1rem 0rem;
    };
    p {
        text-align: center
    };
    padding: 0rem 10rem 0rem 10rem;
}

.musiciframe_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musiciframe {
    width: 40rem;
}

@media (max-width: 1500px) {
    .videoiframes_container {
        h3 {
            font-size: 2.5rem;
        };
    }
    .videoiframe {
        width: 40rem;
        height: 25rem;
    }
    .musiciframes_container {
        h3 {
            font-size: 2.5rem;
        };
    }
    .musiciframe {
        width: 30rem;
    }
}

// MOBILE

@media (max-width: 1200px) {
    .detrastext_container {
        padding-bottom: 0rem;
    }
    .videoiframe {
        width: 30rem;
        height: 15rem;
    }
    .musiciframe {
        width: 40rem;
    }
    .detrastext {
        display: none;
    }
    .detrastextLeer_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            font-size: 2rem;
            color: whitesmoke;
            background-color: #567189;
            border: none;
            margin-bottom: 5rem; 
        };
    }
}


@media (max-width: 1100px) {
    .musiciframes_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
        };
    }
    .musiciframe_div {
        width: 100%;
    }
    .musiciframe {
        width: 30rem;
    }
}


@media (max-width: 1045px) {
    .videoiframes_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .detrastext_container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


@media (max-width: 900px) {
    .videoiframe {
        width: 25rem;
        height: 10rem;
    }
}


@media (max-width: 750px) {
    .videoiframes_container {
        h3 {
            font-size: 2rem;
        };
    }
    .detrastext_container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


@media (max-width: 635px) {
    .videoiframes_container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .videoiframe_div {
        width: 100%;
    }
}


@media (max-width: 460px) {
    .videoiframes_container {
        div {
            width: 100%;
            h3 {
                font-size: 1.5rem;
            };
        };
    }
    .musiciframes_container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .musiciframe {
        width: 30rem;
    }
}

@media (max-width: 360px) {
    .videoiframe {
        width: 20rem;
        height: auto;
    }
    .musiciframe_div {
        h3 {
            font-size: 2rem;
        };
    }
    .musiciframe {
        width: 20rem;
        height: 40rem;
    }
}